/*
 RS AdManger CSS

 See: http://www.rogersmithsoftware.com/rsadmanager/template.html
*/
.rs_grid_float 
 {
  padding:10px;
 }

div.rs_grid_float 
 {
  float: left;
  width: 160px;
  height: 250px;
  text-align: center;
  font-size:.85em;
  vertical-align: middle;
 }
  
div.rs_grid_float p 
  {
   text-align: center;
   vertical-align: middle;
   width: 160px;
  }

div.rs_grid_spacer 
  {
   clear: both;
  }
